


  .card-container{
    background-color: #01010127;
  border: .3rem solid rgb(48, 188, 17);
  border-radius: 10px;
  box-shadow: 5px 5px 5pxrgb(50, 50, 50) (0, 0%, 0.1);
  padding: 20px;
  margin:0.5rem;
  text-align:justify;
  width: 15rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  }
  
  .card-image{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    max-width: 200px;
    height: 120px;
    margin-bottom: 10px;
    position: absolute;
  
  }
  
 .card-title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem 5%;
    color: rgb(237, 161, 10);
  }
  .card-text{
    align-items: center;

  }
