.description-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(48, 188, 17);

    display: flex;
    justify-content: center;
    align-items: center;
}

.description-inner-popup{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: rgb(48, 188, 17);
    border-radius: 10px;
    border: 2px solid rgb(247, 246, 237);
}

.description-inner-popup .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}