.logo {
    top: 16px;
    left: 16px;
padding: .6rem;

}
img{
height: 100%;
}
.header{
    background-color:rgb(48, 188, 17);
    height: 10rem;
    top: 10px;
    min-height: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.toggle{
    top: 16px;
    right: 16px;
    padding: auto;
}
button{
    top: 16px;
    right: 16px;
    padding: auto;  
}
.menu{
    list-style: none;
    text-decoration: none;
    padding: .3rem;
    border: 0.3em rgb(255, 255, 255);
    display: inline-block;
    flex-direction: row;
    background-color: rgb(36, 158, 2);
    color: green;

    

}
/* .header-title{
    font-size: calc(10px + 2vmin);
    color: rgb(242, 236, 236);
} */