.logo {
    top: 16px;
    left: 16px;
padding: .6rem;

}
img{
height: 100%;
}
.header{
    background-color:rgb(48, 188, 17);
    height: 10rem;
    top: 10px;
    min-height: 10%;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    justify-content:space-between;
    
    
    
}
.quote-box{
   
    left: 0px; 
    width: 4000px;
    height: 6.7rem;
    top: 15px;
    border: 1.9px solid rgb(255, 149, 0);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    

}
.quote{
    font-size: 21px; 
    color: #ffffff;
    width: 100% ;
    text-decoration: none;
    font-weight: 400;
    text-align: center;

    
}
button{
    top: 16px;
    right: 16px;
    padding: auto;  
}
.menu{
    list-style: none; 
    display: flex; /* Use flex for horizontal layout */
    flex-direction: row;
    font-size: 17px;
    padding: 7px 1%;
    border-radius: 40px;
    margin-left: 30px;
    transition: .3s;
    width: 36%;


}
.menu li {
    margin: 0 10px; /* Add some spacing between items */
}

.menu a {
    color: rgb(248, 246, 239);
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid rgb(247, 246, 237);
    transition: .3s;
    padding: 2px 4px; 
}

.menu a:hover{ 
    color: rgb(255, 149, 0);
    box-shadow: 0 0 20px rgb(255, 149, 0);
    border-color: rgb(255, 149, 0); 
}
