

@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Modern+Antiqua&family=Noto+Color+Emoji&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(253, 253, 253);
  font-family: "Modern Antiqua", serif;
  color: rgb(4, 6, 4);
}



.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}


